doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1 欢迎使用socket.io聊天室
		form(method='get' action='/other')
			input(id='name' name='name' placeholder='输入您的名字')
			input(type='submit' value='进入聊天室')

		
		
		
		